body 
{
    direction:rtl;
    margin-right:auto;
    margin-left:auto;
    width:600px;
}

p {
    font-size:25px;
    margin-bottom:5px;
}

#container {
    background-image:url("https://www.google.co.il/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&ved=0ahUKEwix2Y6usvTSAhVHrRQKHcwKCk4QjRwIBw&url=http%3A%2F%2Fwww.2all.co.il%2Fweb%2FSites6%2FMadeleine%2FPAGE25.asp&psig=AFQjCNHbKQZt4GoTTL4grrMcf8wsd1HogA&ust=1490625368499735");
}

